iframe {
    border-width: 0px;
    width: 100%;
    padding: 5%  0%;
}
#episodios h2{
    font-family: IBM Plex Sans;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    position: relative;
    width: 96%;
    margin: auto;
    padding: 2%;
    
}
#episodios{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%); 
    padding: 8% 0 10% 0;
}
#episodios .contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}