footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column wrap;
}
.icon_media{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}