#invitadas h2 {
    font-family: IBM Plex Sans;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px
}
#invitadas .topic_cont{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0 0 0 ;
}
@media only screen and (min-width: 850px){
    #invitadas .topic_cont{
        width: 33.33%;
    }
    #invitadas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}