#invitadas h2 {
    font-family: IBM Plex Sans;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px
}
#invitadas .contenedor2{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
