header{
    height: 50px;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
}
#check_menu{
    display: none;
}
.icon_menu .fas fa-times close{
    display: none;
}
.logo, .icon-menu{
    margin: 5px;
}
.icon_menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    margin-right: auto;
    cursor: pointer;
}
.nav{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu_link{
    display: block;
    padding: 15px;
    background-color:#0000EC;
    text-decoration: none;
    
    
    font-family: "IBM Plex Mono";
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
}
#check_menu:checked ~.nav{
    transform: translateX(0%);
}
@media only screen and (min-width: 850px) {
    .nav{
        position: static;
        width: auto;
    }
    .header .contenedor{
        justify-content: space-between;
    }
    .icon_menu{
       display:  none;
    }
    .menu_link{
        background-color: #FFFFFF;
        color: #000000;
    }
    .menu{
        display: flex;
        justify-content: space-around;
    }
    .menu_link:hover{
        text-decoration: line-through;
        color:#00F3BB;
    }
}
