#menu-bar{
    display: none;
}
header label{
    float:right;
    font-size: 28px;
    margin: 6px 0px;
    cursor: pointer;
}
header img{
    margin: 6px 0;
}
.menu{
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    
    background: rgb(0, 0, 255);
    transition: all 0.5s;
    transform: translateY(-150%);
}
.menu ul{
    list-style: none;
}
.menu  a{
    display: block;
    color: rgb(255, 255, 255);
    height: 50px;
    text-decoration: none;
    padding: 50px;
}
#menu-bar:checked ~ .menu{
    transform: translateY(0%);
}