#menu-bar{
    display: none;
}
header label{
    position: absolute;
    top: 40%;
    left: 94%;
    margin: auto;
    cursor: pointer;
    
}
header img{
    position: absolute;
    top: 30%;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    
    background: rgb(0, 0, 255);
    transition: all 0.5s;
    transform: translateY(-150%);
}
.menu ul{
    list-style: none;
}
.menu  a{
    display: block;
    color: rgb(255, 255, 255);
    height: 50px;
    text-decoration: none;
    padding: 50px;
}
#menu-bar:checked ~ .menu{
    transform: translateY(0%);
}