#nosotros h2{
    width: 232px;
    font-family: IBM Plex Sans;
    font-size: 36px;
    letter-spacing: 0;
    line-height:42px;
}
#nosotros img{
    width: 100%;
    min-height: 381px;
    align-self: center;
    -webkit-transform: translateY(-7%);
    -moz-transform: translateY(-7%);
    transform: translateY(-7%);
}

@media only screen and (min-width: 850px) {
    #nosotros .topic_cont{
        width: 45%;  
    }
    #nosotros img{
        width: 80%; 
    }
    #nosotros .contenedor{
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;
    }
    #nosotros h2{
        width: 100%;
        font-size: 48px;
        margin-bottom: 6%; 
    }
}