#saludo{
    margin-top: 50px;
}
h1{
    width: 232px;
    font-family: IBM Plex Sans;
    font-size: 36px;
    letter-spacing: 0;
    line-height:42px;
}

#saludo .boton{
    width: 100%;
    position: relative;
    padding: 13px 96px;
    margin-top: 16px;
    margin-bottom: 10px;
}
