#topicos .topic_cont{
    display: flex;
    flex-flow: column nowrap;
    padding: 5% 0 0 0 ;
}
#topicos h2{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
#topicos .topic_cont h3{
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 24px;
    color:#060A24;
    font-weight: bold;
    
}
@media only screen and (min-width: 1056px){
    #topicos .topic_cont{
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        padding: 0 0 5% 0; 
    }
    #topicos{
        display: flex;
        flex-flow: column  nowrap;
        justify-content: space-evenly;
    }
    #topicos .topic_grup{
        display: flex;
        flex-flow: row  nowrap;
        padding: 5% 5%;
    }
}